*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #000000;
  color: #fff;
}

html{
  overflow-x: hidden;
}

:root{
  --purple-600: #9333ea;
  --purple-700: #6d28d9;
  --bg-2: #0c0c0c;
}

.navLink{
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: ease-in .3s;
}

.navLink::after{
  position: absolute;
  content: "";
  width: 0%;
  transition: ease-in .3s;
  left: 0;
  bottom: -2px;
  right: 0;
  height: 2px;
  background-color: var(--purple-600);
}

.navLink:hover::after{
  width: 100%;
}

.navLink:hover{
  color: var(--purple-600);
}


.navLink.active::after{
  width: 100%;
}

.navLink.active{
  color: var(--purple-600);
}

.sp-text{
  color: var(--purple-600);
}

.btnNormal{
  padding: 10px;
  min-width: 130px;
  background-color: var(--purple-600);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .3s;
}

.btnNormal:hover{
  background-color: var(--purple-700);
}


.btnWhite{
  padding: 10px;
  min-width: 130px;
  background-color: #f4f4f4;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .3s;
}

.btnWhite:hover{
  background-color: #fff;
}

.blogsCon{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  gap: 15px;
}

.blogsCon .blog{
  width: 300px;
  padding: 10px;
  height: 300px;
  cursor: pointer;
  transition: ease-in .3s;
  background-color: var(--bg-2);
  border-radius: 10px;
}
.blogsCon .blog:hover{
 transform: translateY(-3%);
}

.inputBox{
  display: flex;
  margin-top: 5px;
  align-items: center;
  background-color: #0c0c0c;
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
}
.inputBox input{
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.inputBox textarea{
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  min-height: 100px;
  resize: vertical;
  border-radius: 5px;
  color: #fff;
}

svg{
  color: #fff !important;
}